<!--
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
-->

<div class="col-box col-box-author">

  <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
  <div class="col-box-title name">{{ site.author }}</div>
  <p>{{ site.profile }}</p>
  <p class="contact">
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% if site.email %}
    <a href="mailto:wychoi911@gmail.com{{ site.email }}">Email</a>
    {% endif %}
    <a href="https://www.facebook.com/wychoi9111{{ site.facebook_username }}">Facebook</a>
  </p>

    <a href="https://www.linkedin.com/in/%EC%9A%B0%EC%98%81-%EC%B5%9C-7582b4174/">Linkedin</a>
    {% if site.github_username %}
    <a href="https://github.com/wychoi911{{ site.wychoi911 }}">GitHub</a>
    {% endif %}
     -->
<!-- col-box-line -->
<!--
<div class="gallery">
  <a target="_blank" href="fjords.jpg">
    <img src="fjords.jpg" alt="Fjords" width="150" height="200">
  </a>
  <div class="desc">222Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="forest.jpg">
    <img src="forest.jpg" alt="Forest" width="150" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</body>
</html> 
  </p>
</div>

<br>
-->
<!-- col-box-line -->

<div class="col-box">

  <div class="col-box-title">Newest Posts</div>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-box post-toc hide">
  <div class="col-box-title">Table of contents</div>
</div>

<!-- weather widget start -->
    <a target="_blank" href="https://www.booked.net/weather/seoul-18406">
        <img src="https://w.bookcdn.com/weather/picture/32_18406_1_1_2bcc71_250_24ae60_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=2&domid=&anc_id=99165"  alt="booked.net"/>
    </a>
<!-- weather widget end -->

<!-- radio widget start -->
    <embed id="__sayradiowidget" src="http://dl.sayclub.kr/sayclub/sayradio/SayRadioWidgetSmall.swf" width="170" height="103" allowscriptaccess="always" flashvars="playerSize=small&amp;castAddr=http%3A//ch01.saycast.com&amp;autoStart=true" wmode="transparent" />
<!-- radio widget end -->
